extends layout

block content

    input(type="file",name="",id="file")

    script.
        function upload() {
            let fileDom = document.querySelector('#file').files[0]
            let url = 'http://localhost:3000/api/fileUpload'

            let from = new FormData()
            from.append('file',fileDom)

            let xhr = new XMLHttpRequest()
            xhr.open('post',url,true)
            xhr.onload = upOnload
            xhr.upload.onloadstart = function () {
                var ot = new Date().getTime()
                var oloaded = 0 // 文件大小 0
            }
            xhr.send(from)
        }

        function upOnload (event) {
            console.log(event, 'event')
            if(event.target.responseText === 'ok'){ // 这时自己返回的
                console.log('成功')
            }else {
                console.log('faild')
            }
        }

        document.querySelector('#file').addEventListener('change',upload)